
.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: white;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #23232e;
  height: 8vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0s;
  overflow: hidden;
  margin-left: 30px;
}

nav li {
  float: left;
}

nav a {
  display: contents;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: transparent;
  transition: color 0.3s;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

button {
  background-color: #3b413b;
  color: white;
  padding: 10px;
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}


form {
  display: grid;
  gap: 10px;
}

ul {
  list-style: none;
  padding: 0;
}



li {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  color: white;
  background: rgba( 255, 255, 255, 0.40 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.40 );
  backdrop-filter: blur( 13.5px );
  -webkit-backdrop-filter: blur( 13.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.40 );
}

li:hover {
  background-color: #f5f5f5;
  color: black;
}


.home-section {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: white;
}

.left-content {
  max-width: 35%;
}

h1 {
  font-size: 48px;
  color: #333;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 5px;
}


h2 {
  color: #333;
  font-size: 30px;
  margin: 5px 0;
  word-wrap: break-word;
}

h3 {
  color: #333;
  font-size: 40px;
  margin-bottom: 10px;
  word-wrap: break-word;
}

p {
  font-size: 18px;
  color: black;
}

.popup-form {
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: relative;
}

.popup-content h2 {
  color: #333;
}

.popup-content label {
  font-weight: bold;
}

.popup-content button {
  background-color: #3b413b;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.popup-content input[type="submit"] {
  background-color: #3b413b;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.popup-content input[type="submit"]:hover {
  background-color: #3a413b;
}

.popup-content button:hover {
  background-color: #3a413b;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #888;
}

.close-btn:hover {
  color: #555;
}

a {
  color: #635d5d;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}



.done {
  text-decoration: line-through;
}


.centered-content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: white;
  height: auto;
}

.left-content {
  max-width: 35%;
}

.content-box {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #2c2c2c;
  border: 1px solid #444;
  border-radius: 5px;
}

.content-box p {
  margin: 0;
  font-size: 16px;
  color: #fff;
  text-align: center;
}

header {
  background: #23232e;
  color: white;
  padding: 10px 20px;
  text-align: center;
}

section.registered-games {
  text-align: center;
  margin: 20px;
}

ul#registered-games-list {
  list-style: none;
  padding: 0;
  color: black;
  margin-top: 2em;
}

section.room-list {
  text-align: center;
  margin: 20px;
}

ul#room-list {
  list-style: none;
  padding: 0;
}

section.joined-rooms {
  text-align: center;
  margin: 20px;
}

ul#joined-rooms-list {
  list-style: none;
  padding: 0;
}

button#add-game-button {
  background-color: #3b413b;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

button#add-game-button:hover {
  background-color: #3a413b;
}

ul#room-list {
  list-style: none;
  padding: 0;
}

button#create-room-button {
  background-color: #3b413b;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

button#create-room-button:hover {
  background-color: #3a413b;
}

#registered-games-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media screen and (max-width: 768px) {
  #registered-games-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  #registered-games-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 600px) {
  .logo {
    display: none;
  }

}.jogos-container {
  height: 100vh;
  overflow-y: auto; 
}

